.body{
    background: #F7F7F7;
    font-family: Ubuntu;
    font-size: 1.8em;
}
.link{
    color: #7C94BF;
}
.link:hover{
    color: #7C94BF;
    text-decoration:none;
}
.link:active{
    color: #7C94BF;
    text-decoration:none;

}

.main{
    background:#fff;
}
.chapter{
    color: #7C94BF;
    padding-top:10px;
}

.header, .content{
    padding:25px;
    margin-bottom: 10px;
}

table td{
    padding: 5px;
}

table td:last-child{
    padding-left: 35px;
}

table td:first-child{
    text-align: right;
}

.right{
    float: right;
}


        @media only screen and (min-width: 480px) {
            .header h2 {
                margin-top: 30px;
                font-size: 2.5em;
            }
            .small{
                display: block;
            }
            .large{
                display: none;
            }
            .myPhoto {
                width:60%;
                margin: auto 20%;
            }
            .chapter{
                font-size: 2em;
                text-align: center;
            }
            .body {
                font-size: 3.5em;
            }
            p, ul li {
                font-size: 1.3em;
            }
		}
		@media only screen and (min-width: 1000px) {
            .header h2 {
                margin-top: 30px;
                font-size: 2.5em;
            }
            .myPhoto {
                width:40%;
                margin: auto 30%;
            }
            /*.body {
                font-size: 2.5em;
            }*/
            p, ul li {
                font-size: 1.3em;
            }
		}
		@media only screen and (min-width: 1200px) {
		    .header h2 {
                margin-top: 30px;
                font-size: 2.5em;
            }
            .myPhoto {
                width:70%;
                /*margin: auto 30%;*/
            }
            .chapter{
                font-size: 1.5em;
                text-align: left;
            }
            .body {
                font-size: 1.8em;
            }
            .small{
                display: none;
            }
            .large{
                display: block;
            }
		}
